/* Poppins: Light 300, Regular 400, Medium 500, Semi-bold 600, Bold 700 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Quicksand: Light 300, Regular 400, Medium 500, Semi-bold 600, Bold 700 */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Variáveis */
:root{
    /* ===== FONTS ===== */
    --main-font: 'Poppins', sans-serif;
    --alternative-font: 'Quicksand', sans-serif;

    /* ===== FONT WEIGHT  ===== */
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;

    /* ===== FONT SIZE ===== */
    --biggest-font-size: 2.5em;
    --h1-font-size: 1.5em; 
    --h2-font-size: 1.25em; 
    --h3-font-size: 1.125em;
    --normal-font-size: .938em;
    --small-font-size: .813em;
    --smaller-font-size: .75em;

    /* ===== MARGINS ===== */
    --margin-1: .5em;
    --margin-2: 1em;
    --margin-3: 1.5em;
    --margin-4: 2em;
    --margin-5: 2.5em;
    --margin-6: 3em;

    /* ===== Z-INDEX ===== */
    --z-normal: 1;
    --z-fixed: 10;
    --z-modal: 100;
    
    /* Tamanhos de componentes */
    --header-height: 3em;
    
    /* ===== COLORS ===== */
    --modal-opacity: #00000099;

    --black: #000000;
    --dark-grey: #5B5B58;
    --medium-grey: #939292;
    --light-grey: #C4C4C4;
    --extra-light-grey: #E5E5E5;
    --white: #FFFFFF;

    --filter-black: invert(0%) sepia(7%) saturate(0%) hue-rotate(131deg) brightness(96%) contrast(106%);
    --filter-dark-grey: invert(36%) sepia(6%) saturate(190%) hue-rotate(22deg) brightness(95%) contrast(91%);
    --filter-medium-grey: invert(64%) sepia(0%) saturate(159%) hue-rotate(262deg) brightness(91%) contrast(95%);
    --filter-light-grey: invert(75%) sepia(31%) saturate(18%) hue-rotate(11deg) brightness(99%) contrast(92%);
    --filter-extra-light-grey: invert(99%) sepia(11%) saturate(3290%) hue-rotate(287deg) brightness(140%) contrast(80%);
    --filter-white: invert(96%) sepia(4%) saturate(15%) hue-rotate(91deg) brightness(104%) contrast(104%);

    --blue: #0074d9;
    --green: #23A959;
    --yellow: #E4AE22;
    --red: #C61E1E;

    --filter-blue: invert(25%) sepia(60%) saturate(6388%) hue-rotate(196deg) brightness(102%) contrast(101%);
    --filter-green: invert(54%) sepia(77%) saturate(470%) hue-rotate(91deg) brightness(85%) contrast(84%);
    --filter-yellow: invert(70%) sepia(62%) saturate(600%) hue-rotate(356deg) brightness(95%) contrast(88%);
    --filter-red:invert(18%) sepia(63%) saturate(4196%) hue-rotate(354deg) brightness(91%) contrast(86%);
}


@media screen and (min-width: 768px) {
    :root{
        --biggest-font-size: 4.5em;
        --h1-font-size: 2.25em; 
        --h2-font-size: 1.5em; 
        --h3-font-size: 1.25em;
        --normal-font-size: 1em;
        --small-font-size: .875em;
        --smaller-font-size: .813em;
    }
}

/* ===== BASE ===== */
*, ::before, ::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--main-font);
    font-size: var(--normal-font-size);
    font-weight: var(--medium);
    background-color: var(--extra-light-grey);
    color: black;
    line-height: 1.6;

}
h1,h2,h3,ul,p{
    margin: 0;
}
h2,h3{
    font-weight: var(--semi-bold);
}
ul{
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}

/* ===== CLASS CSS =====*/
.section{
    padding: 4em 0 2em;
}

.section-title, .section-subtitle{
    text-align: center;
}

.section-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--h1-font-size);
    margin-bottom: var(--margin-3);
}

.section-subtitle{
    display: block;
    font-size: var(--smaller-font-size);
    font-weight: var(--semi-bold);
}

.help__button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    background-color: var(--medium-grey);
    padding: .35em;
    border-radius: .25em;
    color: var(--white);
    font-size: var(--small-font-size);
    cursor: pointer;
    transition: .3s;
}

.help__button:hover{
    background-color: var(--medium-grey);
    color: var(--white);
}

/* ===== LAYOUT =====*/
.container{
    max-width: 1024px;
    width: calc(100% - 2em);
    margin-left: var(--margin-2);
    margin-right: var(--margin-2);
}

.grid{
    display: grid;
    gap: 1.5em;
}

.menu-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);    
    background-color: var(--black);
    color: var(--white);
}

/* ========== NAV ========== */
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px){
    .nav__menu{
        display: flex;
        justify-content: flex-end;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: right;
        background-color: var(--modal-opacity);
        transition: .4s;
        z-index: var(--z-modal);
    }
}

.nav__logo{
    display: flex;
}

.nav__logo img{
    width: 1.3em;
}

.nav__logo span{
    margin-left: var(--margin-1);
    font-weight: var(--semi-bold);
}

.nav__item{
    margin-bottom: var(--margin-3);
    font-size: var(--small-font-size);
}

.nav__link{
    color: var(--white);
    transition: .3s;
}

.nav__link:hover{
    color: var(--medium-grey);
}

.nav__logo, .nav__toggle{
    color: var(--white);
}

.nav__toggle{
    font-size: 1.4em;
    cursor: pointer;
}

.nav__list{
    width: fit-content;
    height: 100%;
    padding-left: var(--margin-2);
    padding-right: var(--margin-2);
    background-color: var(--black);
    z-index: var(--z-modal);
}

/* ===== SHOW MENU ====== */
.menu-open{
    top: var(--header-height);
}

/* ===== ACTIVE LINK ===== */
.active-link{
    position: relative;
}

.active-link::after{
    content: "";
    position: absolute;
    bottom: -.5em;
    right: 0;
    width: 65%;
    height: 2px;
    background-color: var(--medium-grey);
}

/* ===== SCROLL TOP ===== */
.scrolltop{
    position: fixed;
    right: 1em;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
    border-radius: .5em;
    z-index: var(--z-normal);
    transition: .4s;
    background-color: var(--medium-grey);
    visibility: hidden;
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
}

.scrolltop:hover{
    background-color: var(--medium-grey);
}

#scroll-top-icon{
    font-size: 1.5em;
    color: var(--white);
}

/* ===== SHOW SCROLL TOP ===== */
.scroll-top-open{
    visibility: visible;
    bottom: 1.5em;
}

/* ===== HOME ===== */
.home{
    top: var(--header-height);
    margin-top: 5em;
}

.home__container{
    grid-template-rows: repeat(2, max-content);
    align-content: space-around;
    row-gap: 2em;
}

.home__data{
    color: var(--dark-grey);
    text-align: center;
}

.home__name, .home__profession strong{
    color: var(--black);
}

.home__name{
    font-size: var(--biggest-font-size);
}

.home__welcome, .home__profession{
    display: block;
    font-weight: var(--bold);
}

.home__welcome{
    font-size: .813em;
}

.home__profession{
    font-size: .938em;
    /*margin-bottom: var(--margin-4);*/
}

.home__buttons{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: var(--margin-3) 0;
}

.home__socials{
    display: flex;
    justify-content: space-evenly; 
}

.home__social-icon{
    filter: var(--filter-medium-grey);
    transition: .3s;
}

.home__social-icon:hover{
    filter: var(--filter-medium-grey);
}

.home__social-icon img{
    width: 2rem;
    height: 2rem;
}

.home__img{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ===== BUTTONS ===== */
.button{
    display: inline-block;
    background-color: var(--medium-grey);
    color: var(--white);
    font-size: var(--small-font-size);
    padding: .55em 1em;
    border-radius: .35em;
    transition: .3s;    
    cursor: pointer;
}

.button:hover{
    background-color: var(--medium-grey);
}

.interactive{
    border: none;
    padding: .65em 1em;
}
/* ===== ABOUT ===== */
.about__item{
    margin-bottom: var(--margin-5);
}

.about__data{
    text-align: center;
}

.about__description span{
    font-size: var(--normal-font-size);
}

/* ===== QUALIFICATION ===== */
.qualification__container{
    row-gap: 2.5em;
}

.qualification__title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--margin-2);
    display: flex;
    align-items: center;
}

.qualification__title-icon{
    font-size: 1.5rem;
    margin-right: var(--margin-1);
}

.qualification__box{
    padding-bottom: 1em;
    border-bottom: 1px solid var(--light-grey);
}

.qualification__area{
    font-size: var(--normal-font-size);
    margin-bottom: var(--margin-1);
    font-weight: var(--medium);
}

.qualification__icon, .qualification__work{
    font-size: var(--smaller-font-size);
}

.qualification__work{
    display: block;
}

/* ===== FILTER =====*/
.techs{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filter-bar{
    background-color: var(--white);
    margin-bottom: var(--margin-3);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
    border-radius: .75em;
    width: 100%;
    align-self: center;
}

.fixed{
    border-radius: .75em;
    position: fixed;
    z-index: var(--z-normal);
    top: var(--header-height);
    margin: 0 1em;
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
}
.fields-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
}

.filter-bar__box{
    width: 100%;
    display: flex;
    justify-content: center;
}

.field{
    font-family: var(--main-font);
    font-size: var(--small-font-size);
    font-weight: var(--light);
    color: var(--light-grey);
}

.filter-bar__input-box, .filter-bar__selector-box{
    display: flex;
    padding: .5em 0;  
    border-bottom: solid 1px var(--black);
}
.filter-bar__selector-box{
    cursor: pointer; 
}

.field-icon{
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black);
}

.filter-bar__input-box:hover, .filter-bar__selector-box:hover{
    border-bottom: solid 1px var(--black);
}

.filter-bar__input-box:hover>.field-icon, .filter-bar__selector-box:hover>.field-icon{
    color: var(--black);
}

.filter-bar__selector-box{
    margin-top: .5em;
}

.field-options__box{
    text-align: right;
}

.field-options__data{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    font-size: var(--normal-font-size);
    font-weight: var(--medium);
    gap: 1.5em;
}

select{
    font-family: var(--main-font);
    font-size: var(--small-font-size);
}

.field__option{
    display: flex;
    flex-direction: column;
}

.field-options__ok-button-box{
    margin-top: var(--margin-4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.field__input-box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: var(--margin-3);
}

.modal-input{
    border: none;
    border-bottom: 1px solid var(--black);
    width: 5em;
    margin-right: 1.5em;
}

.field__send-icon{
    height: fit-content;
    padding: .5em 0;
    font-size: 1.15em;
    cursor: pointer;
}

.input-search{
    border: none;
    margin-left: .35em;
    width: 100%;
}

.selector-search{
    color: var(--medium-grey);
    width: 100%;
}

.filled{
    color: var(--black);
}

.filter-bar__button-box{
    display: flex;
    gap: .5em;
    width: 100%;
    justify-content: center;
    margin-top: 1.5em;
}

.button-icon{
    font-size: var(--h1-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .3em;
    border-radius: .25em;
    width: fit-content;
    height: fit-content;
    color: var(--white);
    background-color: var(--medium-grey);
    cursor: pointer;
    max-height: 40px;
    max-width: 40px;
}

/* ===== FILTER MODAL =====*/


/* ===== CUSTOM LIST ===== */
.custom-list__container{
    row-gap: 2.5em;
    margin-bottom: var(--margin-5);
}

.custom-list__content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.custom-list__title{
    font-size: var(--normal-font-size);
    display: flex;
    align-items: center;
}

.custom-list__title-icon{
    font-size: 1.5rem;
    background-color: var(--black);
    color: var(--white);
    margin-right: var(--margin-1);
    padding: .2em;
    border-radius: 1em;
}

.custom-list__box{
    padding: .5em;
    margin-bottom: var(--margin-2);
    background-color: var(--white);
    color: var(--black);
    border-radius: 2.5em;
    width: 100%;
    max-width: 15em;
}

.custom-list__box:hover{
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
}

.custom-list__box:hover .custom-list__title-icon{
    background-color: var(--white);
    color: var(--black);
}

/* ===== TECH ===== */
.tech-title{
    justify-content: space-between;
}

.custom-list__title-box{
    display: flex;
    align-items: center;
}

.custom-list__title-image-box{
    background-color: var(--black);
    display: flex;
    padding: .5em;
    border-radius: 3em;
    width: fit-content;
    margin-right: var(--margin-1);

}

.custom-list__title-image{
    filter: var(--filter-white);
    width: 1.5rem;
}

.custom-list__indicator-circle{
    font-size: 1.2rem;
}

.custom-list__box:hover .custom-list__title-image-box{
    background-color: var(--white);
}

.custom-list__box:hover .custom-list__title-image{
    filter: var(--filter-black);
}

.custom-list__buttons-box{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: var(--margin-3) 0;
}

/* ===== CUSTOM MODAL ===== */
@media screen and (max-width: 768px){
}
.custom-modal__container{
    display: flex;
    justify-content: center;
    position: fixed;
    padding: 1.5em;
    top: var(--header-height);
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: var(--modal-opacity);
    transition: .4s;
    z-index: var(--z-normal);
}

.custom-modal__box{
    background-color: var(--white);
    padding: 1.5em;
    padding-top: .5em;
    height: fit-content;
    border-radius: .5em;
    z-index: var(--z-normal);
    transition: .3s;
    max-width: 400px;
}

.custom-modal__icon{
    font-size: 1.7em;
    padding: .5em 0;
    cursor: pointer;
}

.custom-modal__data{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ===== HELP MODAL =====*/
.custom-modal__title{
    font-size: var(--normal-font-size);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom-modal__help-text{
    font-size: var(--smaller-font-size);
}

.custom-modal__model{
    margin: var(--margin-2) 0;
}

.custom-modal__indicators-box{
    display: flex;
    flex-direction: column;
}

.custom-modal__help-indicator-text{
    font-size: var(--smaller-font-size);    
    margin: var(--margin-1) 0;
    text-align: left;
}

#indicator-circle-1{
    color: var(--red);
}
#indicator-circle-2{
    color: var(--yellow);
}
#indicator-circle-3{
    color: var(--green);
}

/* ===== PROJECTS MODAL =====*/
.custom-modal__description{
    font-size: var(--small-font-size);
    margin: var(--margin-2) 0;
}

.custom-modal__qrcode{
    width: 5.5em;
}

/* ===== TECHS MODAL =====*/
.tech-box{
    text-align: right;
    width: 60em;
}

.custom-modal__tool-icon{
    width: 2.5em;
}

.tech-data{
    text-align: center;
}

.custom-modal__indicator-circle{
    margin-right: var(--margin-1);
}

.custom-modal__tech-indicator-text{
    font-size: var(--smaller-font-size);    
    margin: var(--margin-2) 0;
}

/* ===== CATEGORIES MODAL ===== */
.categories-help-text{
    text-align: center;
    display: flex;
    margin-bottom: var(--margin-2);
}
.field-options__checkbox-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: var(--small-font-size);
    text-align: left;
    margin-top: var(--margin-4);
    cursor: pointer;
}

.field-options__checkbox-box:hover{
    color: var(--black);
}

.field-options__checkbox{
    margin: 0;
    margin-right: 1em;
}

.label__for-checkbox{
    color: var(--light-grey);
}

.field-options__checkbox:checked + .label__for-checkbox{
    color: var(--black);
}


/* ===== LABELS FOR INPUTS ===== */

/* ===== LOADING =====*/
.loading-icon{
    font-size: var(--biggest-font-size);
    color: var(--medium-grey);
    animation: spin .75s linear infinite;
}

@-webkit-keyframes spin {/* Safari */
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
