/* Poppins: Light 300, Regular 400, Medium 500, Semi-bold 600, Bold 700 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Quicksand: Light 300, Regular 400, Medium 500, Semi-bold 600, Bold 700 */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Variáveis */
:root{
    /* ===== FONTS ===== */
    --main-font: 'Poppins', sans-serif;
    --alternative-font: 'Quicksand', sans-serif;

    /* ===== FONT WEIGHT  ===== */
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;

    /* ===== FONT SIZE ===== */
    --biggest-font-size: 2.5em;
    --h1-font-size: 1.5em; 
    --h2-font-size: 1.25em; 
    --h3-font-size: 1.125em;
    --normal-font-size: .938em;
    --small-font-size: .813em;
    --smaller-font-size: .75em;

    /* ===== MARGINS ===== */
    --margin-1: .5em;
    --margin-2: 1em;
    --margin-3: 1.5em;
    --margin-4: 2em;
    --margin-5: 2.5em;
    --margin-6: 3em;

    /* ===== Z-INDEX ===== */
    --z-normal: 1;
    --z-fixed: 10;
    --z-modal: 100;
    
    /* Tamanhos de componentes */
    --header-height: 3em;
    
    /* ===== COLORS ===== */
    --modal-opacity: #12121299;

    --black: #121212;
    --dark-grey: #5B5B58;
    --medium-grey: #939292;
    --light-grey: #C4C4C4;
    --extra-light-grey: #E5E5E5;
    --white: #FFFFFF;

    --filter-black: invert(3%) sepia(9%) saturate(13%) hue-rotate(314deg) brightness(96%) contrast(92%);
    --filter-dark-grey: invert(36%) sepia(6%) saturate(190%) hue-rotate(22deg) brightness(95%) contrast(91%);
    --filter-medium-grey: invert(64%) sepia(0%) saturate(159%) hue-rotate(262deg) brightness(91%) contrast(95%);
    --filter-light-grey: invert(75%) sepia(31%) saturate(18%) hue-rotate(11deg) brightness(99%) contrast(92%);
    --filter-extra-light-grey: invert(99%) sepia(11%) saturate(3290%) hue-rotate(287deg) brightness(140%) contrast(80%);
    --filter-white: invert(96%) sepia(4%) saturate(15%) hue-rotate(91deg) brightness(104%) contrast(104%);

    --blue: #0074d9;
    --green: #23A959;
    --yellow: #E4AE22;
    --red: #C61E1E;

    --filter-blue: invert(25%) sepia(60%) saturate(6388%) hue-rotate(196deg) brightness(102%) contrast(101%);
    --filter-green: invert(54%) sepia(77%) saturate(470%) hue-rotate(91deg) brightness(85%) contrast(84%);
    --filter-yellow: invert(70%) sepia(62%) saturate(600%) hue-rotate(356deg) brightness(95%) contrast(88%);
    --filter-red:invert(18%) sepia(63%) saturate(4196%) hue-rotate(354deg) brightness(91%) contrast(86%);
}

/* ===== BASE ===== */
@keyframes popUpAnimation{
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    1% {
        -webkit-transform: scale(.5);
        transform: scale(.5);
    }
    45% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    80% {
        -webkit-transform: scale(.95);
        transform: scale(.95);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

*, ::before, ::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--main-font);
    font-size: var(--normal-font-size);
    font-weight: var(--medium);
    background-color: var(--extra-light-grey);
    color: black;
    line-height: 1.6;

}

h1,h2,h3,ul,p{
    margin: 0;
}

h2,h3{
    font-weight: var(--semi-bold);
}

ul{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

/* ===== CLASS CSS =====*/
.section{
    padding: 4em 0 2em;
}

.section-title, .section-subtitle{
    text-align: center;
}

.section-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--h1-font-size);
    margin-bottom: var(--margin-3);
}

.section-subtitle{
    display: block;
    font-size: var(--smaller-font-size);
    font-weight: var(--semi-bold);
}

/* ===== LAYOUT =====*/
.container{
    max-width: 1024px;
    width: calc(100% - 2em);
    margin-left: var(--margin-2);
    margin-right: var(--margin-2);
}

.grid{
    display: grid;
    gap: 1.5em;
}

.menu-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);    
    background-color: var(--black);
    color: var(--white);
}

/* ========== NAV ========== */
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 900px){
    .nav__menu{
        display: flex;
        justify-content: flex-end;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: right;
        background-color: var(--modal-opacity);
        transition: .4s;
        z-index: var(--z-modal);
    }
}

.nav__logo{
    display: flex;
}

.nav__logo img{
    width: 1.3em;
}

.nav__logo span{
    margin-left: var(--margin-1);
    font-weight: var(--semi-bold);
}

.nav__item{
    margin-bottom: var(--margin-3);
    font-size: var(--small-font-size);
}

.nav__link{
    color: var(--white);
    transition: .3s;
}

@media (pointer: fine) {
    .nav__link:hover{
        color: var(--medium-grey);
    }
}

.nav__link:active{
    color: var(--medium-grey);
}

.nav__logo, .nav__toggle{
    color: var(--white);
}

.nav__toggle{
    font-size: 1.4em;
    cursor: pointer;
    border-radius: 10em;
    transition: .3s;
}
.nav__toggle i{
    display: flex;
    height: fit-content;
    width: fit-content;
    padding: .25em;
}

@media (pointer: fine) {
    .nav__toggle:hover{
        background-color: #c4c4c43b;
    }
}

.nav__toggle:active{
    background-color: #c4c4c43b;
}

.nav__list{
    width: fit-content;
    height: 100%;
    padding-left: var(--margin-2);
    padding-right: var(--margin-2);
    background-color: var(--black);
    z-index: var(--z-modal);
}

/* ===== SHOW MENU ====== */
.menu-open{
    top: var(--header-height);
}

/* ===== ACTIVE LINK ===== */
.active-link{
    position: relative;
}

.active-link::after{
    content: "";
    position: absolute;
    bottom: -.5em;
    right: 0;
    width: 65%;
    height: 2px;
    background-color: var(--medium-grey);
}

/* ===== SCROLL TOP ===== */
.scrolltop{
    position: fixed;
    right: 1em;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
    border-radius: .5em;
    z-index: var(--z-normal);
    transition: .3s;
    background-color: var(--medium-grey);
    visibility: hidden;
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
}

@media (pointer: fine) {
    .scrolltop:hover{
        background-color: var(--black);
    }
}

.scrolltop:active{
    background-color: var(--black);
}

#scroll-top-icon{
    font-size: 1.5em;
    color: var(--white);
}

/* ===== SHOW SCROLL TOP ===== */
.scroll-top-open{
    visibility: visible;
    bottom: 1.5em;
}

/* ===== HOME ===== */
.home{
    top: var(--header-height);
    padding: 2em 0 10em;
}

.home__container{
    grid-template-rows: repeat(2, max-content);
    align-content: space-around;
    row-gap: 6em;
}

.home__data{
    color: var(--dark-grey);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home__name, .home__profession strong{
    color: var(--black);
}

.home__name{
    font-size: var(--biggest-font-size);
}

.home__welcome, .home__profession{
    display: block;
    font-weight: var(--bold);
}

.home__welcome{
    font-size: .813em;
}

.home__profession{
    font-size: .938em;
    /*margin-bottom: var(--margin-4);*/
}

.home__buttons, .home__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    margin-top: var(--margin-3);
}

.home__social-icon{
    filter: var(--filter-medium-grey);
    transition: .3s;
}

@media (pointer: fine) {
    .home__social-icon:hover{
        filter: var(--filter-black);
    }
}

.home__social-icon:active{
    filter: var(--filter-black);
}

.home__social-icon img{
    width: 2rem;
    height: 2rem;
}

.home__img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home__img img{
    width: 300px;
}

/* ===== BUTTONS ===== */
.button{
    display: inline-block;
    background-color: var(--medium-grey);
    color: var(--white);
    font-size: var(--small-font-size);
    padding: .55em 1em;
    border-radius: .35em;
    transition: .3s;
    cursor: pointer;
}

@media (pointer: fine) {
    .button:hover{
        background-color: var(--black);
    }
}

.button:active{
    background-color: var(--black);
}

.interactive{
    border: none;
    padding: .65em 1em;
}

.button__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--medium-grey);
    font-size: var(--h1-font-size);
    width: fit-content;
    height: fit-content;
    padding: .3em;
    border-radius: .25em;
    color: var(--white);
    cursor: pointer;
    transition: .3s;
    cursor: pointer;
}


@media (pointer: fine) {
    .button__icon:hover{
        background-color: var(--black);
    }
}

.button__icon:active{
    background-color: var(--black);
}

.help{
    font-size: var(--normal-font-size);
}

@media (pointer: fine) {
    .help:hover{
        background-color: var(--black);
        color: var(--white);
    }
}

.help:active{
    background-color: var(--black);
    color: var(--white);
}

/* ===== ABOUT ===== */
.section__container{
    margin-bottom: var(--margin-5);
}

.section__data{
    text-align: center;
    width: 100%;
}

.about__description span{
    font-size: var(--normal-font-size);
}

/* ===== QUALIFICATION ===== */
.qualification__container{
    row-gap: 2.5em;
}

.qualification__title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--margin-2);
    display: flex;
    align-items: center;
}

.qualification__title-icon{
    font-size: 1.5rem;
    margin-right: var(--margin-1);
}

.qualification__box{
    padding-bottom: 1em;
    border-bottom: 1px solid var(--light-grey);
}

.qualification__area{
    font-size: var(--normal-font-size);
    margin-bottom: var(--margin-1);
    font-weight: var(--medium);
}

.qualification__icon, .qualification__work{
    font-size: var(--smaller-font-size);
}

.qualification__work{
    display: block;
}

/* ===== HELP MODAL =====*/
.custom-modal__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: var(--normal-font-size);
    margin-bottom: var(--margin-2);
}

.custom-modal__help-description{
    font-size: var(--smaller-font-size);
    width: 100%;
}

.custom-modal__help-text{
    font-size: var(--smaller-font-size);
    text-align: left;
    width: 100%;
}

.custom-modal__help-list{
    text-align: left;
}

.custom-modal__model{
    margin: var(--margin-2) 0;
}

.custom-modal__indicators-box{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.custom-modal__help-indicator-text{
    font-size: var(--smaller-font-size);    
    margin: var(--margin-1) 0;
    text-align: left;
}

#indicator-circle-1{
    color: var(--red);
}

#indicator-circle-2{
    color: var(--yellow);
}

#indicator-circle-3{
    color: var(--green);
}

/* ===== CUSTOM MODAL ===== */
.custom-modal__container{
    display: flex;
    justify-content: center;
    position: fixed;
    padding: 1.5em;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: var(--modal-opacity);
    transition: .3s;
    z-index: var(--z-fixed);
    overflow-y: scroll;
    
}

.custom-modal__container::-webkit-scrollbar {
    width: 0;
}

.custom-modal__box{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: var(--white);
    padding: 1.5em;
    height: fit-content;
    border-radius: .5em;
    z-index: var(--z-modal);
    transition: .3s;
    max-width: 400px;

    -webkit-animation: popUpAnimation 1.5s;
    animation: popUpAnimation 1.5s;
    will-change: transform;
}

.custom-modal__icon{
    display: flex;
    justify-content: flex-end;
    height: fit-content;
    width: fit-content;
    font-size: 1.7em;
    border-radius: 5em;
    cursor: pointer;
    transition: .3s;
}

@media (pointer: fine) {
    .custom-modal__icon:hover{
        background-color: #12121211;
    }
}

.custom-modal__icon:active{
    background-color: #12121211;
}

.custom-modal__data{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* ===== CUSTOM LIST ===== */
.custom-list__container{
    row-gap: 2.5em;
    margin-bottom: var(--margin-5);
}

.custom-list__content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.custom-list__title{
    font-size: var(--normal-font-size);
    display: flex;
    align-items: center;
}

.custom-list__title-icon{
    font-size: 1.5rem;
    background-color: var(--black);
    color: var(--white);
    margin-right: var(--margin-1);
    padding: .2em;
    border-radius: 1em;
    transition: .3s;
}

.custom-list__box{
    padding: .5em;
    margin-bottom: var(--margin-2);
    background-color: var(--white);
    color: var(--black);
    border-radius: 2.5em;
    width: 100%;
    max-width: 15em;
    transition: .3s;
}

@media (pointer: fine) {
    .custom-list__box:hover{
        background-color: var(--black);
        color: var(--white);
        cursor: pointer;
    }
    .custom-list__box:hover .custom-list__title-icon{
        background-color: var(--white);
        color: var(--black);
    }
}

.custom-list__box:active{
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
}

.custom-list__box:active .custom-list__title-icon{
    background-color: var(--white);
    color: var(--black);
}

.custom-list__title-box{
    display: flex;
    align-items: center;
}

.custom-list__title-image-box{
    background-color: var(--black);
    display: flex;
    padding: .5em;
    border-radius: 3em;
    width: fit-content;
    margin-right: var(--margin-1);

}

.custom-list__title-image{
    filter: var(--filter-white);
    width: 1.5rem;
}

.custom-list__indicator-circle{
    font-size: 1.2rem;
}

@media (pointer: fine) {
    .custom-list__box:hover .custom-list__title-image-box{
        background-color: var(--white);
    }
    
    .custom-list__box:hover .custom-list__title-image{
        filter: var(--filter-black);
    }
}

.custom-list__box:active .custom-list__title-image-box{
    background-color: var(--white);
}

.custom-list__box:active .custom-list__title-image{
    filter: var(--filter-black);
}

.custom-list__buttons-box{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: var(--margin-3) 0;
}

/* ===== TECHS =====*/
.techs{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tech-title{
    justify-content: space-between;
}

.filter-bar{
    background-color: var(--white);
    margin-bottom: var(--margin-3);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
    border-radius: .75em;
    width: 100%;
    align-self: center;
    transition: .3s;
}

.fixed{
    border-radius: .75em;
    position: fixed;
    z-index: var(--z-fixed);
    top: var(--header-height);
    margin: 0 1em;
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    gap: 1em;
    transition: .3s;
}

.fields-box, .icons-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 1em;
}

.filter-bar__box{
    display: flex;
    width: 100%;
}

.filter-bar__input-box, .filter-bar__selector-box{
    padding: .5em 0;  
    border-bottom: solid 1px var(--light-grey);
    transition: .3s;
}

.field{
    font-family: var(--main-font);
    font-size: var(--small-font-size);
    font-weight: var(--light);
    color: var(--light-grey);
}

.filter-bar__selector-box{
    cursor: pointer; 
}

.icons-box{
    margin-top: var(--margin-2);
}

.read-box, .buttons-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    gap: 1em;
}

.read-box{
    font-size: var(--normal-font-size);
    font-weight: var(--medium);
}

.directions i{
    font-size: 2em;
    color: var(--black);
}

.field-icon{
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-grey);
    transition: .3s;
}

@media (pointer: fine) {
    .filter-bar__input-box:hover, .filter-bar__selector-box:hover{
        border-bottom: solid 1px var(--black);
    }
    
    .filter-bar__input-box:hover>.field-icon, .filter-bar__selector-box:hover>.field-icon{
        color: var(--black);
    }
}

.filter-bar__input-box:active, .filter-bar__selector-box:active{
    border-bottom: solid 1px var(--black);
}

.filter-bar__input-box:active>.field-icon, .filter-bar__selector-box:active>.field-icon{
    color: var(--black);
}

.filter-bar__selector-box{
    margin-top: .5em;
}

.field-options__box{
    text-align: right;
}

.field-options__data{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    font-size: var(--normal-font-size);
    font-weight: var(--medium);
    gap: 1.5em;
}

select{
    font-family: var(--main-font);
    font-size: var(--small-font-size);
    width: 100%;
}

.field__option{
    display: flex;
    flex-direction: column;
}

.field-options__ok-button-box{
    margin-top: var(--margin-4);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.field__input-box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: var(--margin-3);
}

.modal-input{
    border: none;
    border-bottom: 1px solid var(--black);
    width: 5em;
    margin-right: 1.5em;
}

.field__send-icon{
    height: fit-content;
    padding: .5em 0;
    font-size: 1.15em;
    cursor: pointer;
}

.input-search{
    border: none;
    margin-left: .35em;
    width: 100%;
    color: var(--black);
}

.input-search::placeholder{
    color: var(--light-grey);
}

.selector-search{
    width: 100%;
}

.filled{
    color: var(--black);
}

.filter-bar__button-box{
    gap: .5em;
    margin-top: 1.5em;
}

/* ===== PROJECTS MODAL =====*/
.custom-modal__tool-about, .custom-modal__description{
    font-size: var(--small-font-size);
    margin: var(--margin-2) 0;
    width: 100%;
}

.custom-modal__description{
    text-align: left;
}

.custom-modal__qrcode{
    width: 5.5em;
}

/* ===== TECHS MODAL =====*/
.tech-box{
    text-align: right;
    width: 60em;
}

.custom-modal__tool-icon{
    width: 2.5em;
}

.tech-data{
    text-align: center;
    width: 100%;
}

.custom-modal__indicator-circle{
    margin-left: var(--margin-1);
}

.custom-modal__tech-indicator-text{
    font-size: var(--smaller-font-size);    
    margin: var(--margin-2) 0;    
    width: 100%;
    text-align: right;
}

/* ===== CATEGORIES MODAL ===== */
.categories-help-text{
    text-align: center;
    display: flex;
    margin-bottom: var(--margin-2);
}

.field-options__checkbox-box{
    display: flex;
    width: 100%;
    align-items: center;
    font-size: var(--small-font-size);
    text-align: left;
    margin-top: var(--margin-4);
    cursor: pointer;
}

@media (pointer: fine) {
    .field-options__checkbox-box:hover{
        color: var(--black);
    }
}

.field-options__checkbox-box:active{
    color: var(--black);
}

.field-options__checkbox{
    margin: 0;
    margin-right: 1em;
    cursor: pointer;
}

.label__for-checkbox{
    color: var(--light-grey);
    cursor: pointer;
}

.field-options__checkbox:checked + .label__for-checkbox{
    color: var(--black);
}

/* ===== LOADING =====*/
.loading-icon__box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.loading-icon{
    font-size: var(--biggest-font-size);
    color: var(--medium-grey);
    animation: spin .75s linear infinite;
}

@-webkit-keyframes spin {/* Safari */
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* ===== CONTACT ===== */
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__container{
    gap: 3em;
    width: fit-content;
}

.contact__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    color: var(--medium-grey);
    transition: .3s;
}

.contact__icon{
    background-color: var(--medium-grey);
    padding: 1.5em;
    border-radius: 5em;
    cursor: pointer;
    transition: .3s;
}

.contact__icon img{
    width: 2em;
    height: 2em;
    filter: var(--filter-white);
}

@media (pointer: fine) {
    .contact__item:hover{
        color: var(--black);
    }

    .contact__item:hover>.contact__icon{
        background-color: var(--black);
    }
}

.contact__icon:active{
    background-color: var(--black);
}
    
.contact__icon:active>img{
    filter: var(--filter-white);
}

.contact__email-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    color: var(--white);
    background-color: var(--black);
    font-size: .55em;
    padding: 1.5em;
    border-radius: .5em;
    position: fixed;
    top: calc(var(--header-height) + 5em);
}

.contact__email-modal strong{
    font-size: var(--h2-font-size);
    font-weight: var(--medium);
}

.contact__email-modal i{
    font-size: var(--biggest-font-size);
}

/* ===== MEDIA QUERIES =====*/ 
@media screen and (min-width: 480px){
    .home__welcome{
        font-size: 1em;
    }
    
    .home__profession{
        font-size: 1.2em;
    }

    .fields-box, .icons-box, .filter-bar__box{
        width: fit-content;
    }

    .fields-box{
        flex-direction: row;
        gap: 2em;
    }

    .filter-bar__selector-box {
        margin-top: 0;
    }

    .custom-list__content{
        gap: 1em;
    }
}

@media screen and (min-width: 630px){
    .home {
        padding: 2em 0;
    }

    .home__container{
        grid-template-columns: repeat(2, 1fr);
    }
    
    .home__data {
        text-align: center;
    }

    .home__buttons, .home__socials {
        align-items: center;
        justify-content: center;
        gap: 1.5em;
    }

    .home__img img{
        width: 250px;
    }

    .filter-bar{
        gap: 2em;
    }

    .contact__container{
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (min-width: 780px){
    body{
        margin: 0;
    }

    .section{
        padding-top: 6em;
    }

    .section-title{
        margin-bottom: var(--margin-5);
    }

    .home__name{
        font-size: 4.5em;
    }

    .home__welcome {
        font-size: 1.25em;
    }

    .home__profession {
        font-size: 1.45em;
    }
    .home__img img{
        width: 100%;
        max-width: 400px;
    }

    
}

@media screen and (min-width: 901px){
    .nav{
        height: calc(var(--header-height) + 1.5em);
    }

    .nav__list{
        display: flex;
        gap: 1em;
    }

    .nav__item{
        margin-bottom: 0;
    }

    .nav__toggle{
        display: none;
    }
}
 /* ===== ALERT =====*/
 .swal-overlay {
    font-family: var(--main-font);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: .9em;
    font-size: var(--normal-font-size);
    background-color: var(--modal-opacity);
}

.swal-modal {
    margin: 0;
    border-radius: .5em;
}

.swal-text {
    font-size: var(--normal-font-size);
    text-align: center;
    padding: 0 1em;
    font-weight: var(--regular);
    color: var(--black);
}

.swal-button {
    font-size: var(--normal-font-size);
    font-family: var(--main-font);
    font-weight: var(--regular);
    background-color: var(--medium-grey);
    border-radius: .35em;
    padding: .55em 1em;
    transition: .3s;
}

@media (pointer: fine) {
    .swal-button:hover{
        background-color: var(--black);
    }
}
